<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body ng-app class="container">
    <br />
    <form class="form-horizontal" ng-submit="submitStudnetForm()" role="form" name="studentForm" novalidate>
        <div class="form-group" ng-class="{'has-error': studentForm.firstName.$touched && studentForm.firstName.$error.required , 'has-success': studentForm.firstName.$valid }">
            <label for="firstName" class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-6">
                <input type="text" id="firstName" name="firstName" class="form-control" ng-model="firstName" required />
            </div>
            <div class="col-sm-3">
                <span class="help-block" ng-show="studentForm.firstName.$touched && studentForm.firstName.$error.required">Please enter First Name.</span>
            </div>

        </div>
        <div class="form-group" ng-class="{'has-error': studentForm.surName.$touched && studentForm.surName.$error.required ,  'has-success': studentForm.surName.$valid}">
            <label for="surname" class="col-sm-3 control-label">
                Surname
            </label>
            <div class="col-sm-6">
                <input type="text" id="surName" name="surName" class="form-control" ng-model="surName" required />
            </div>
            <div class="col-sm-3">
                <span class="help-block" ng-show="studentForm.surName.$touched && studentForm.surName.$error.required">Please enter Last Name.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': studentForm.emailId.$touched && studentForm.emailId.$error.email , 'has-success': studentForm.emailId.$valid}">
            <label for="dob" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input type="email" id="dob" name="emailId" class="form-control" ng-model="email" />
            </div>
            <div class="col-sm-3">
                <span class="help-block" ng-show="studentForm.emailId.$touched && studentForm.emailId.$error.email">Please enter valid email.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : studentForm.passWord.$touched && studentForm.passWord.$error.passWord , 'has-success' : studentForm.passWord.$valid}">
              <label for="pwd" class="col-sm-3 control-label">Password</label>
              <div class="col-sm-6">
                <input type="password" name="pwd" minlength="5" maxlength="8" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"data-ng-model="user.pwd" />
                    <span ng-show="studentForm.pwd.$dirty && studentForm.pwd.$error.minlength"> password is too short</span>  
                    <span ng-show="studentForm.pwd.$dirty && studentForm.pwd.$error.maxlength"> password is too long</span>  
                <!-- <input type="password" id="pwd" name="Password" class="orm-control" ng-modal="password" > -->
              </div>
              <div class="col-sm-3">
                <span class="help-block" ng-show="studentForm.password.$touched && studentForm.password.$error.password">Please enter valid password.</span>
            </div>
        </div>
        <input type="submit" value="submit" ng-click="ValidateDetails()" class="btn btn-primary col-sm-offset-3" />
        <input type="button" value="Reset" class="btn" />
    </form>
</body>
</html>