<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="./work1.css">
    <script type="text/javascript" src='./work1.js'></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div  class="container" ng-controller="LunchCheckController">
     <h1   id="b">Lunch Checker</h1>
        <center>
         <div id="a" class="form-group">
             <input id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control" ng-model="list" ng-style="boxStyle" style="height: 50px" width="50px">
         </div>
         <div ng-style ="fontStyle"><h1>
           {{msg}}</h1>
         </div><br>
         <div class="form-group">
             <button class="button" ng-click="checkItems()">Check If Too Much</button>
         </div>
         <div class="form-group message">
         </div>
        </center>
   </div>
</body>
</html>