<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body ng-app="myApp">
    <div class="search">
        <div ng-controller="myCtrl">
            <input type="text" ng-model="searchString.section" placeholder="Search Here...">
            <button class="btn btn-primary" ng-click="show()">Narrow it Down For Me</button>
            {{message}}
            <!-- <span ng-if="!searchString.section.length">Please enter Data</span> -->
            <div class="items">
                <div class="row" >
                    <div class="col-md-4" ng-repeat="item in searchItems | filter:searchString:exactMatch">
                        <div class="card" ng-show="isVisible">
                            <h4>{{item.image}}</h4>
                            <h2>{{item.name}}</h2>
                            <h4>{{item.desc}}</h4>
                            <h3>{{item.price}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="./work3.js"></script>
</body>
</html>