.search{
    margin: 20px;
}
.header{
    margin: 20px 0;
/*    background-image: url(../images/power.jpg);*/
background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
}
.row-head{
   padding: 35px;
}
#logo{
    background-color: #f5f5f5b8;
    text-align: center;
}
.input{
    border-radius: 5px;
    opacity: 0.7;
    width: 100%;
}
.content{
    text-align: inherit;
}
.list{
    list-style-type: none;
    color: white;
}
.items{
    display: inline-block;
    /* padding-left: 20px; */
    font-weight: 500;
    margin: 10px;
}
.btn{
    border-radius: 10px;
   
}
.pic{
    width: 250px;
    height: 440px;
    padding: 5px;
    margin: 10px;
}
.button{
    border-radius: 15px;
    margin-left: 60px;
}
.card-img{
    height: 90px;
    width: 90px;
}
.cart_card{
    height: auto;
    width: auto;
}
.btn-cart{
    border-radius: 10px;
    margin-left: 180px;
 
}
.name_price{
    color: tomato;
}