.header{
    background-image: url(../images/headerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    text-align: center;
    padding: 20px;
}
.menu_list{
    list-style-type: none;
    padding: 15px;
    text-align: center;
}
.list_item{
    display: inline;
    padding: 15px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
/* .main{
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.signup{
    text-align: center;
    color: black;
    text-transform: capitalize;
}
label{
    padding-left: 10px;
    font-size: 20px;
    color: black;
    font-family: serif;
}
.input{
    margin: 10px 50px; 
}
.form-control{
    border-radius: 20px;
    box-shadow: 2px lightslategray;
}
span{
    color: red;
}
.btn{
    margin-left: 10%;
}